/* Globals */
a,a:focus,a:hover{color:#fff;}
html,body{
	height:100%;
	max-width: 1500px;
	margin:0px auto;
}
.hide{display:none;}
.landing-heading{font-family:'Source Code Pro',monospace;font-weight:400;font-size:2.5em}
#signin-button {
    text-decoration-line:none
}
/* Home button */
.btn-home-hello{position:absolute;font-family:'Source Code Pro',monospace;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}

.sidebar{
	background: transparent !important;
	background-color: transparent !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	left:none;
}

.card-title i{
	color: #333 !important;
}

.btn-success {
	color: #0c372f !important;
	border-color: #0c372f !important;
}

.content .card{
	box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12) , 0 3px 6px 0 rgba(0,0,0, 0.12) !important;
}

.content-main-card .card {
	min-height: 760px;
}

.addMoreItems{
	padding-left: 260px !important;
}

@media screen and (max-width: 991px) {
	.addMoreItems{
		padding-left: 0px !important;
		margin: 10px auto 10px !important;
	}
}

.router-link-active{
	background-color: #cccccc21 !important;
	border-radius:8px !important;
}

.router-link-active a p{
	color: #000 !important;
}